<h1>Customers#edit</h1>
<p>登録情報編集</p>
<%= form_with model: @customer do |f| %>

<h2>メールアドレス</h2>
<%= f.text_area :email %>
<%= f.submit '保存' %>

<p></p>
<%= link_to '退会画面', customers_unsubscribe_path %>

<% end %>