<h1>Items#index</h1>
<p>商品一覧画面</p>
<h1>商品一覧</h1>
<% @items.each do |item| %>
 <span>・<%= item.name %> <%= item.body %>
 <%= link_to item_path(item.id) do %>
 <%= image_tag item.image, size: "100x100" %>
 <% end %>
 </span>
<% end %>
